<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mood Decider</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h1>Describe how your feeling and we'll determine how your doing!</h1>
  <ion-item lines="full">
    <ion-label position="stacked">Tell me about your day</ion-label>
    <ion-textarea [(ngModel)]="userPrompt" placeholder="I had a long day at work..."></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="decideMood()">Decide my feeling!</ion-button>
</ion-content>
