:host {
  --background: #f0f4f8;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

ion-content {
  --background: #f0f4f8;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

h1{
  color: black;
}

textarea,
ion-textarea {
  width: 100%;
  max-width: 500px;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  
}

ion-button {
  margin-top: 20px;
}


::ng-deep .danger-button {
  color: white;
  background-color: #eb445a; // Red
}

::ng-deep .warning-button {
  color: black;
  background-color: #ffc409; // Yellow
}

::ng-deep .success-button {
  color: white;
  background-color: #2dd36f; // Green
}

ion-segment {
  margin-top: 8px;
  --background: gray; /* Soft light blue background */
  border-radius: 10px;
  padding: 4px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ion-segment-button {
  --color-checked: white; /* Text color when selected */
  --background-checked: #4CAF50; /* Green background when selected */
  --border-radius: 8px;
  font-weight: bold;
  font-family: 'Balsamiq Sans', sans-serif;
  color: black; /* Default text color */
  transition: background-color 0.3s ease;
}

ion-segment-button::part(indicator-background) {
  background: transparent; /* Remove weird default indicator */
}

ion-toolbar {
  --background: gray;
}

