:host {
  --background: #f0f4f8;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

ion-content {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

h1{
  color: white;
}

textarea,
ion-textarea {
  width: 100%;
  max-width: 500px;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  
}

ion-button {
  margin-top: 20px;
}


::ng-deep .danger-button {
  color: white;
  background-color: #eb445a; // Red
}

::ng-deep .warning-button {
  color: black;
  background-color: #ffc409; // Yellow
}

::ng-deep .success-button {
  color: white;
  background-color: #2dd36f; // Green
}

ion-segment-button::part(indicator-background) {
  background: transparent; /* Remove weird default indicator */
}


