ion-segment {
  margin-top: 8px;
  --background: gray; /* Soft light blue background */
  border-radius: 10px;
  padding: 4px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ion-segment-button {
  --color-checked: white; /* Text color when selected */
  --background-checked: #4CAF50; /* Green background when selected */
  --border-radius: 8px;
  font-weight: bold;
  font-family: 'Balsamiq Sans', sans-serif;
  color: black; /* Default text color */
  transition: background-color 0.3s ease;
}

ion-segment-button::part(indicator-background) {
  background: transparent; /* Remove weird default indicator */
}

ion-toolbar {
  --background: gray;
}